<h1 style="color:blue">Session simple</h1>

<p>
    <a asp-controller="EjemploSession" asp-action="SessionSimple" asp-route-accion="almacenar">Almacenar</a>
</p>
<p>
    <a asp-controller="EjemploSession" asp-action="SessionSimple" asp-route-accion="mostrar">Mostrar</a>
</p>

<h2 style="color:red">@ViewData["Mensaje"]</h2>

<h2 style="color:orange">@ViewData["nombre"]</h2>
<h2 style="color:green">@ViewData["hora"]</h2>